numpy
pandas
scikit-learn
networkx
tqdm
fpdf
PyMuPDF
pdfplumber
PyPDF2
pdfminer.six
pdf2image
pytesseract
camelot-py
tabula-py
Pillow
nltk
spacy
sentence-transformers
language-tool-python
torch
transformers
sentencepiece
reportlab
pytesseract
pdf2image
Pillow
